<!-- home.component.html -->
<div class="min-h-screen flex flex-col bg-gray-300">
  <header class="flex justify-between w-full border-b px-8 py-4 gap-8 text-black bg-gray-200">
    <div class="flex gap-2 items-center">
      <span class="text-lg">Bicol University</span>
      <span class="text-lg mx-2">|</span>
      <span class="text-base font-light">{{ currentDateTime }}</span>
    </div>
  </header>

  <div class="p-4 bg-gray-300 min-h-screen flex justify-center items-center">
    <div class="w-full max-w-md">
      <input
        id="search"
        type="text"
        [(ngModel)]="searchQuery"
        class="w-full p-2 border rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300"
        placeholder="Enter your search query..."
      />
      <button
        (click)="handleSearch()"
        class="mt-4 w-full bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
      >
        Search
      </button>

      <!-- Loading Indicator -->
      <div *ngIf="isLoading" class="text-center text-blue-500 mt-4">Validating query...</div>

      <!-- Error Message -->
      <div *ngIf="errorMessage" class="text-center text-red-500 mt-4">{{ errorMessage }}</div>
      
    </div>
  </div>
</div>